.login_page{
  overflow-x: hidden;
}
.login_page .content.left{
  background: #fff;
  height: 100vh;
  padding: 100px 10px;
}
.login_page .content.right{
  background: #ededed;
  height: 100vh;
  padding: 100px 10px;
}
.login_page .content.left h1{
  margin: auto;
  text-align: center;
}
.login_page .content.left form{
  padding: 100px;
}



/* .login_page .content{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  padding: 20px;
  margin-top: 100px;
} */

label{
  display: block;
  font-weight: bold;
  color: #000;
}
input{
  width:100%;
  height: 50px;
  border: 1px solid #eee;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
}
.login_page .content form button{
  background: #3399ff;
  color: #fff;
  margin: 10px 0px;
  width: 100%;
  height: 50px;
}
