/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw9aXpsog.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw2aXpsog.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw3aXpsog.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root{
  --fontFamily: 'Montserrat', sans-serif;
  --mainColor: #000;
  --whiteColor: #ffffff;
  --blueColor: #3399ff;
  --redColor: #ff0000;
  --greenColor: #228B22;
  --fontSizeH1: 50px;
  --fontSizeH2: 30px;
  --fontSizeH3: 18px;
  --fontSizeNormal: 14px;
  --fontBold: bold;
  --justifyCenter: center;
  --grayColor: #eeeeee;
  --buttonLoginColor: #E48561;
  --borderButtonLoginColor:#E48561
}

body{
  font-family: var(--fontFamily);
}
.w3-sidebar{
  width: 300px !important;
  padding: 100px 20px;
  border-right: 2px solid var(--mainColor);
}

.dashboard_base .w3-sidebar p{
  font-family: monospace;
  font-weight: var(--fontBold);
  font-size: var(--fontSizeH3);
}
.dashboard_base .w3-sidebar ul{
  list-style: none;
}
.dashboard_base .w3-sidebar ul li{
  font-size: var(--fontSizeNormal);
  line-height: 30px;
  width: 100%;

}
.dashboard_base .w3-sidebar ul li a{
  text-decoration: none;
  font-size: 13px;
  /* background: var(--grayColor); */
  /* border-left: 2px solid var(--buttonLoginColor); */
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100% !important;
  display: block;
}
.dashboard_base .w3-sidebar ul li a:hover{
  text-decoration: none;
  font-size: 13px;
  background: var(--grayColor);
  /* border-left: 2px solid var(--buttonLoginColor); */
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100% !important;
  display: block;
}
.dashboard_base .w3-sidebar ul li a.active{
  text-decoration: none;
  font-size: 13px;
  background: var(--grayColor);
  border-left: 2px solid var(--buttonLoginColor);
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100% !important;
  display: block;
}
.dashboard_base .w3-sidebar .version_section{
  position: absolute;
  bottom: 0px;
}
.dashboard_base .w3-sidebar .version_section p{
  font-size: var(--fontSizeNormal);
}
.navbar{
  background: var(--mainColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar a.navbar-brand{
  color: var(--whiteColor);
  font-weight: bold;
  font-size: var(--fontSizeH2);
}
.navbar div ul li a{
  color: var(--whiteColor) !important;
  font-weight: bold;
}
.navbar button{
  border: none;
}
/* #closeNav{
  display: none;
} */
/* #openNav{
  display: none;
} */


/* dashbaord_page */

.dashbaord_page{
  padding: 100px 0px;
}
.dashbaord_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}


.login_page{
  overflow-x: hidden;
}
.login_page .content.left{
  background: #fff;
  height: 100vh;
  padding: 100px 10px;
}
.login_page .content.right{
  background: #ededed;
  height: 100vh;
  padding: 100px 10px;
}
.login_page .content.left h1{
  margin: auto;
  text-align: var(--justifyCenter);
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);

}
.login_page .content.left form{
  padding: 100px;
}
.login_page .content.left form .username_field{
  display: flex;
  /* justify-content:var(--justifyCenter); */
  align-items: center;
  border: 1px solid var(--grayColor);
  width: 100%;
}
.login_page .content.left form .username_field .username_field_left{
  width: 90%;
}
.login_page .content.left form .username_field .username_field_left input{
  width:100%;
  height: 50px;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  /* margin-top: 10px; */
}
.login_page .content.left form .username_field .username_field_right{
  width: 8%;
  text-align: var(--justifyCenter);
}

.login_page .content.right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_page .content.right img{
  margin-bottom: 20px;
}
.login_page .content.right .text_section h2{
  font-size: var(--fontSizeH2);
}
.login_page .content.right .text_section ul{
  list-style-type: square;
  font-weight: var(--fontBold);
}


/* .login_page .content{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  padding: 20px;
  margin-top: 100px;
} */

label{
  display: block;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: var(--fontFamily);
}
input{
  outline: none;
  height: 50px;
  background: var(--whiteColor);
  border: 2px solid var(--grayColor);
  padding-left: 10px;
}
select{
  outline: none;
  height: 50px;
  background: var(--whiteColor);
  border: 2px solid var(--grayColor);
  padding-left: 10px;
}

table a.update{
  border: 1px solid var(--blueColor);
  border-radius: 20px;
  padding: 5px 20px;
  color: var(--blueColor);
}
table a.delete{
  border: 1px solid var(--redColor);
  border-radius: 20px;
  padding: 5px 20px;
  color: var(--redColor);
}
table thead tr th{
  white-space:nowrap;
}
table tbody tr td{
  white-space:nowrap;
}


.login_page .content form button{
  background: var(--buttonLoginColor);
  color: #fff;
  margin: 10px 0px;
  /* width: 100%; */
  height: 50px;
  border-radius:0px;
  font-weight: var(--fontBold);
}



/* user_role */
.user_role{
  padding: 100px 0px;
}
.user_role .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.user_role .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.user_role .form_content form label{
  display: block;
}
.user_role .form_content form input{
  display: block;
  width: 100%;
}
.user_role .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}
.user_role .list_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.user_role .list_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
}


/* icd_10_category_page */
.icd_10_category_page{
  padding: 100px 0px;
}
.icd_10_category_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.icd_10_category_page .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.icd_10_category_page .form_content form label{
  display: block;
}
.icd_10_category_page .form_content form input{
  display: block;
  width: 100%;
}
.icd_10_category_page .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}
.icd_10_category_page .list_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.icd_10_category_page .list_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
}

/* organization_page */
.organization_page{
  padding: 100px 0px;
}
.organization_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.organization_page .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.organization_page .form_content form label{
  display: block;
}
.organization_page .form_content form input{
  display: block;
  width: 100%;
}
.organization_page .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}
.organization_page .list_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.organization_page .list_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
}

/* icd10_page */
.icd10_page{
  padding: 100px 0px;
}
.icd10_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.icd10_page .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.icd10_page .form_content form label{
  display: block;
}
.icd10_page .form_content form input{
  display: block;
  width: 100%;
}
.icd10_page .form_content form select{
  display: block;
  width: 100%;
}
.icd10_page .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}
.icd10_page .list_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.icd10_page .list_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
}

/* add_user_page */
.add_user_page{
  padding: 100px 0px;
}
.add_user_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.add_user_page .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.add_user_page .form_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.add_user_page .form_content form label{
  display: block;
}
.add_user_page .form_content form input{
  display: block;
  width: 100%;
}
.add_user_page .form_content form select{
  display: block;
  width: 100%;
}
.add_user_page .form_content .phone_number_selection{
  display: flex;
  background: var(--buttonLoginColor);
  border: 1px solid var(--grayColor);
}
.add_user_page .form_content .phone_number_selection select{
  border: none;
  background: var(--whiteColor);
  flex: 2;
  font-size: 13px;
}
.add_user_page .form_content .phone_number_selection input{
  border: none;
  background: var(--whiteColor);
  flex: 2;
  border-left: 2px solid var(--grayColor);
  padding-left: 10px;
}
.add_user_page .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}
.add_user_page .list_content{
  margin-top: 20px;
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.add_user_page .list_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
  margin-bottom: 10px;
}



/* csmf_dataset_page */
.csmf_dataset_page{
  padding: 100px 0px;
}
.csmf_dataset_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.csmf_dataset_page .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.csmf_dataset_page .form_content form input[type='file']{
  display: block;
  width: 100%;
  outline: none;
  height: 50px;
  background: var(--whiteColor);
  border: 2px solid var(--grayColor);
  padding-left: 10px;
  padding-top: 10px;
}
.csmf_dataset_page .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}


/* authorization_page */
.authorization_page{
  padding: 100px 0px;
}
.authorization_page .title_section h1{
  margin: auto;
  font-size: var(--fontSizeH2);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}
.authorization_page .form_content{
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.authorization_page .form_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
}

.authorization_page .form_content form button{
  display: block;
  background: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  padding: 10px 30px;
}
.authorization_page .list_content{
  margin-top: 20px;
  background: var(--whiteColor);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.authorization_page .list_content h1{
  margin: auto;
  font-size: var(--fontSizeH3);
  font-weight: var(--fontBold);
  font-family: var(--fontFamily);
  margin-bottom: 10px;
}
.authorization_page table tr td{
  text-align: center;
}
table tr td i.bi-check{
  color: var(--greenColor);
  font-weight: bold;
  font-size: 18px;
}
table tr td i.bi-x{
  color: var(--redColor);
  font-weight: bold;
  font-size: 18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #closeNav{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #openNav{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
