{% extends '../base.html' %}
{% block title %}User Management{% endblock %}
{% block content %}
<div class="add_user_page">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="title_section">
          <h1>Manage User</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form_content">
          <h1><code>User details</code></h1>
          <form class="" action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-2">
                <label for="">{{ form.first_name.label }}</label>
                {{ form.first_name}}
              </div>
              <div class="col-md-2">
                <label for="">{{ form.last_name.label }}</label>
                {{ form.last_name}}
              </div>
              <div class="col-md-2">
                <label for="">{{ form_profile.nationality.label }}</label>
                {{ form_profile.nationality}}
              </div>
              <div class="col-md-3">
                <label for="">{{ form_profile.mobile_number.label }}</label>
                <div class="phone_number_selection">
                  {{ form_profile.mobile_number}}
                </div>
              </div>
              <div class="col-md-3">
                <label for="">{{ form_profile.organization.label }}</label>
                {{ form_profile.organization}}
              </div>
            </div>
            <h1 style="margin-top:20px;"><code>Login details</code></h1>
            <div class="row">
              <div class="col-md-3">
                <label for="">{{ form_profile.user_role.label }}</label>
                {{ form_profile.user_role}}
              </div>
              <div class="col-md-3">
                <label for="">{{ form.email.label }}</label>
                {{ form.email }}
              </div>
              <div class="col-md-3">
                <label for="">{{ form.password1.label }}</label>
                {{ form.password1 }}
              </div>
              <div class="col-md-3">
                <label for="">{{ form.password2.label }}</label>
                {{ form.password2 }}
              </div>
            </div>
            <button type="submit" class="btn" name="save_icd_10">Save User</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="list_content">
          <h1>User List</h1>
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead class="table-dark">
                <th>#</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Username</th>
                <th>Password</th>
                <th>Organization</th>
                <th>User Status</th>
                <th>Last Login</th>
                <th>Action</th>
              </thead>
              <tbody>
                {% if get_users %}
                  {% for get_user in get_users %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ get_user.first_name|title }} {{ get_user.last_name|title }}</td>
                      <td>{{ get_user.profile.mobile_number }}</td>
                      <td>{{ get_user.profile.user_role }}</td>
                      <td>{{ get_user.username }}</td>
                      <td>********</td>
                      <td>{{ get_user.profile.organization }}</td>
                      {% if get_user.is_active %}
                        <td style="color: var(--greenColor); font-weight:bold">Activated</td>
                      {% else %}
                        <td style="color: var(--redColor); font-weight:bold">Deactivated</td>
                      {% endif %}

                      <td>{{ get_user.last_login }}</td>
                      <td>
                        <a href="#" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Update</a>
                        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                        {% if get_user.is_active %}
                          <a href="#" class="btn btn-warning"><i class="bi bi-trash"></i> Deactivate user</a>
                        {% else %}
                          <a href="#" class="btn btn-success"><i class="bi bi-trash"></i> Activate user</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td colspan="9" style="text-align: center">No user added yet.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
