<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | VMAN_V2</title>
    <link rel="stylesheet" href="{% static 'css/bcss.css' %}">
    <link rel="stylesheet" href="{% static 'css/customcss.css' %}">
  </head>
  <body class="authentication_base">
    {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bjs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
    {% if messages %}
      {% for message in messages %}
        <script type="text/javascript">
          Swal.fire({
              position: 'top-end',
              title: '{{ message.tags }}!',
              text: '{{ message }}',
              icon: '{{ message.tags }}',
              showConfirmButton: true,
              // timer: 1500
            })
        </script>
      {% endfor %}
    {% endif %}
  </body>
</html>
