{% extends './authbase.html' %}
{% block title %}Authentication{% endblock %}
{% block content %}

<div class="login_page">
  <!-- <div class="container"> -->
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="content left">
          <h1>Logo</h1>
          <form class="" action="" method="post">
            <h3>Login to your account</h3>
            <hr>
            {% csrf_token %}
            <label for="">Email:</label>
            {{ form.username }}
            <label for="">Password:</label>
            {{ form.password }}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            <button type="submit" class="btn btn-sm" name="button">Sign in</button>
          </form>
        </div>
      </div>

      <div class="col-md-8">
        <div class="content right">
          <h1>Other contents</h1>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

{% endblock %}
