<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | VMAN_V2</title>
    <link rel="stylesheet" href="{% static 'css/bcss.css' %}">
    <link rel="stylesheet" href="{% static 'css/customcss.css' %}">
    <link rel="stylesheet" href="{% static 'css/customcss_.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  </head>
  <body class="dashboard_base">
    {% include './components/header.html' %}

    {% url 'dashboard:dashboardPage' as manage_dashboard %}
    {% url 'dashboard:manageRole' as manage_role %}
    {% url 'dashboard:manageICD10Category' as manage_ic10_cat %}
    {% url 'dashboard:manageICD10' as manage_ic10 %}
    {% url 'dashboard:manageOrganization' as manage_org %}
    {% url 'authentication:addNewUser' as manage_user %}
    {% url 'authentication:manageCSMFDataset' as manage_csmf_dataset %}
    {% url 'dashboard:manageAuthorization' as manage_authorization %}


    <div class="w3-sidebar w3-bar-block w3-collapse w3-card" id="mySidebar">
      <img src="{% static 'images/logo.svg' %}" alt="logo" class="mb-4" width="200px">
      <p><i class="bi bi-speedometer"></i> Dashboard</p>
      <ul>
        <li><a href="{% url 'dashboard:dashboardPage' %}" class="{% if request.path == manage_dashboard %}active{% endif %}"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
        <li><a href="#">Coded VA Data</a></li>
      </ul>
      <p><i class="bi bi-graph-down-arrow"></i> Visualization</p>
      <ul>
        <li><a href="#"><i class="bi bi-graph-up"></i> Create Graph</a></li>
        <li><a href="#"><i class="bi bi-table"></i> Create Table</a></li>
        <li><a href="#"><i class="bi bi-geo-fill"></i> Create Map</a></li>
      </ul>
      <p><i class="bi bi-file-earmark-code"></i> Coding</p>
      <ul>
        <li><a href="#">Concordant VAs</a></li>
        <li><a href="#">Discordant VAs</a></li>
        <li><a href="#">Coding Work</a></li>
      </ul>
      <p><i class="bi bi-sliders"></i> Settings</p>
      <ul>
        <li><a href="#"><i class="bi bi-person"></i> User Profile</a></li>
        <li><a href="{% url 'dashboard:manageAuthorization' %}" class="{% if request.path == manage_authorization %}active{% endif %}"><i class="bi bi-shield-shaded"></i> User Authorization</a></li>
        <li><a href="{% url 'authentication:addNewUser' %}" class="{% if request.path == manage_user %}active{% endif %}"><i class="bi bi-people"></i> System Users</a></li>
        <li><a href="{% url 'dashboard:manageRole' %}" class="{% if request.path == manage_role %}active{% endif %}"><i class="bi bi-shield"></i> System Role</a></li>
        <li><a href="{% url 'dashboard:manageICD10Category' %}" class="{% if request.path == manage_ic10_cat %}active{% endif %}"><i class="bi bi-bookmarks"></i> ICD10 Category</a></li>
        <li><a href="#"><i class="bi bi-activity"></i> Interviewer Data</a></li>
        <li><a href="{% url 'dashboard:manageOrganization' %}" class="{% if request.path == manage_org %}active{% endif %}"><i class="bi bi-building"></i> Organization</a></li>
        <li><a href="{% url 'dashboard:manageCSMFDataset' %}" class="{% if request.path == manage_csmf_dataset %}active{% endif %}"><i class="bi bi-cloud-upload"></i> Upload CSMF</a></li>
        <li><a href="{% url 'dashboard:manageICD10' %}" class="{% if request.path == manage_ic10 %}active{% endif %}"><i class="bi bi-list-task"></i> ICD10 List</a></li>
        <li><a href="#"><i class="bi bi-gear"></i> Settings</a></li>
        <li><a href="#"><i class="bi bi-cloud-download"></i> Download Data</a></li>
      </ul>
    </div>

    <div class="w3-main" style="margin-left:300px">
      <div class="w3-container">
        {% block content %}{% endblock %}
      </div>
    </div>


  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bjs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
  {% if messages %}
    {% for message in messages %}
      <script type="text/javascript">
        Swal.fire({
            position: 'top-end',
            title: '{{ message.tags }}!',
            text: '{{ message }}',
            icon: '{{ message.tags }}',
            showConfirmButton: true,
            // timer: 1500
          })
      </script>
    {% endfor %}
  {% endif %}

  <script>
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("closeNav").style.display = "block";
    document.getElementById("openNav").style.display = "none";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("closeNav").style.display = "none";
    document.getElementById("openNav").style.display = "block";
  }
  </script>




  </body>
</html>
