{% extends '../base.html' %}
{% block title %}Manage Role{% endblock %}
{% block content %}
  <div class="user_role">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="title_section">
            <h1>Manage Role</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form_content">
            <form class="" action="" method="post">
              {% csrf_token %}
              {{ form }}

              {% if get_role_to_update %}
                <button type="submit" class="btn" name="update_role">Update Role</button>
              {% else %}
                <button type="submit" class="btn" name="save_role">Save Role</button>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <div class="list_content">
            <h1>Role List</h1>
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered" id="system_role">
                <thead class="table-dark">
                  <th>#</th>
                  <th>Role Name</th>
                  <th>Created Date</th>
                  <th>Updated Date</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  {% if get_role %}
                    {% for role in get_role %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ role.role_name }}</td>
                        <td>{{ role.created_at }}</td>
                        <td>{{ role.updated_at }}</td>
                        <td>
                          <a href="{% url 'dashboard:updateRole' role.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Update</a>
                          <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="5" style="text-align: center">No role added yet.</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block datatable %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/af-2.4.0/cr-1.5.6/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#system_role').DataTable({
      dom: 'B<"clear">lfrtip',
      button: {
        name: 'primary',
        // button: ['copy', 'csv', 'excel', 'pdf'],
        button: ['excel', 'pdf']
      }
    });
  });
</script>
{% endblock %}
