{% extends '../base.html' %}
{% block title %}ICD10-Category{% endblock %}
{% block content %}
  <div class="icd_10_category_page">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="title_section">
            <h1>Manage ICD10 Category</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form_content">
            <form class="" action="" method="post">
              {% csrf_token %}
              {{ form }}

              {% if get_icd10_to_update %}
                <button type="submit" class="btn" name="update_icd_10_category">Update ICD10 Category</button>
              {% else %}
                <button type="submit" class="btn" name="save_icd_10_category">Save ICD10 Category</button>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <div class="list_content">
            <h1">ICD10 Category List</h1>
            <table class="table table-sm table-striped table-bordered">
              <thead class="table-dark">
                <th>#</th>
                <th>ICD10 Category Name</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th>Action</th>
              </thead>
              <tbody>
                {% if get_icd_10_category %}
                  {% for icd_10_cat in get_icd_10_category %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ icd_10_cat.icd10_category_name }}</td>
                      <td>{{ icd_10_cat.created_at }}</td>
                      <td>{{ icd_10_cat.updated_at }}</td>
                      <td>
                        <a href="{% url 'dashboard:updateICD10Category' icd_10_cat.id %}" class="btn btn-sm update"><i class="bi bi-pencil-square"></i> Update</a>
                        <a href="#" class="btn btn-sm delete"><i class="bi bi-trash"></i> Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td colspan="5" style="text-align: center">No category added yet.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
