{% extends '../base.html' %}
{% block title %}ICD-10{% endblock %}
{% block content %}
  <div class="icd10_page">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="title_section">
            <h1>Manage ICD10</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form_content">
            <form class="" action="" method="post">
              {% csrf_token %}
              {{ form }}
              {% if get_icd10_list_to_update %}
                <button type="submit" class="btn" name="update_icd_10">Update ICD10</button>
              {% else %}
                <button type="submit" class="btn" name="save_icd_10">Save ICD10</button>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <div class="list_content">
            <h1>ICD10 List</h1>
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered">
                <thead class="table-dark">
                  <th>#</th>
                  <th>ICD10 Code</th>
                  <th>ICD10 Name</th>
                  <th>ICD10 Category</th>
                  <th>ICD10 Dispaly Name</th>
                  <th>Created Date</th>
                  <th>Updated Date</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  {% if get_icd10_list %}
                    {% for icd10 in get_icd10_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ icd10.icd10_code }}</td>
                        <td>{{ icd10.icd10_name }}</td>
                        <td>{{ icd10.icd10_category }}</td>
                        <td>{{ icd10.icd10_display_name }}</td>
                        <td>{{ icd10.created_at }}</td>
                        <td>{{ icd10.updated_at }}</td>
                        <td>
                          <a href="{% url 'dashboard:updateICD10List' icd10.id %}" class="btn btn-sm update"><i class="bi bi-pencil-square"></i> Update</a>
                          <a href="#" class="btn btn-sm delete"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                  <tr>
                    <td colspan="6" style="text-align: center">No ICD-10 added yet.</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
