{% extends '../base.html' %}
{% block title %}Organization{% endblock %}
{% block content %}
  <div class="organization_page">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="title_section">
            <h1>Manage Organization</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form_content">
            <form class="" action="" method="post">
              {% csrf_token %}
              {{ form }}

              {% if get_organization_to_update %}
                <button type="submit" class="btn" name="update_organization">Update Organization</button>
              {% else %}
                <button type="submit" class="btn" name="save_organization">Save Organization</button>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <div class="list_content">
            <h1>Organization List</h1>
            <table class="table table-sm table-striped table-bordered">
              <thead class="table-dark">
                <th>#</th>
                <th>Organization Name</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th>Action</th>
              </thead>
              <tbody>
                {% if get_organization %}
                  {% for organization in get_organization %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ organization.organization_name }}</td>
                      <td>{{ organization.created_at }}</td>
                      <td>{{ organization.updated_at }}</td>
                      <td>
                        <a href="{% url 'dashboard:updateOrganization' organization.id %}" class="btn btn-sm update"><i class="bi bi-pencil-square"></i> Update</a>
                        <a href="#" class="btn btn-sm delete"><i class="bi bi-trash"></i> Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td colspan="5" style="text-align: center">No organization added yet.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
