{% extends '../base.html' %}
{% block title %}VA Records{% endblock %}
{% block content %}
<div class="va_records_page">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="title_section">
          <h1>VA Records</h1>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm" id="va_records">
              <thead class="table-dark">
                <tr>
                  <th>Rceord ID</th>
                  <th>Region</th>
                  <th>District</th>
                  <th>Ward</th>
                  <th>Interviewer</th>
                  <th>Int. Date</th>
                  <!-- <th>Minutes</th> -->
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>GPS Acc.</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for my_data in crvs_data %}
                  <tr>
                    <td><span class="badge rounded-pill badge-secondary">{{ my_data.deviceid | truncatechars:15 }}</span></td>
                    <td>{{ my_data.get_region }}</td>
                    <td>{{ my_data.get_district }}</td>
                    <td>{{ my_data.get_ward }}</td>
                    <td>{{ my_data.get_interviwer_name }}</td>
                    <td>{{ my_data.get_interview_date }}</td>
                    <!-- <td>X</td> -->
                    <td>{{ my_data.get_gps_latitude }}</td>
                    <td>{{ my_data.get_gps_longitude }}</td>
                    <td>{{ my_data.get_gps_location }}</td>
                    <td>
                      <a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ my_data.get_serial_number }}"><i class="bi bi-eye-fill"></i> View</a>
                    </td>
                  </tr>
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop{{ my_data.get_serial_number }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ my_data.get_serial_number }}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel{{ my_data.get_serial_number }}">Display VA Document</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                          <div class="container">
                            <div class="row">
                              <div class="col-md-7">
                                <div class="content">

                                  <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                      <h5 class="card-title">** VA Document **</h5>

                                      <div class="va_data">

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10002</strong></span></p>
                                          <p class="label">Label: <strong> Is this a region of high HIV/AIDS mortality?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_region_of_high_hiv }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10003</strong></span></p>
                                          <p class="label">Label: <strong> Is this a region of high malaria mortality?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_region_of_high_maralia }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10004</strong></span></p>
                                          <p class="label">Label: <strong> During which season did (s)he die?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_season_did_she_or_he_die }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10005R</strong></span></p>
                                          <p class="label">Label: <strong> Region where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_region_where_this_interview_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10005D</strong></span></p>
                                          <p class="label">Label: <strong> District where this interview is happening?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_district_where_this_interview_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10005Dother</strong></span></p>
                                          <p class="label">Label: <strong> Other district where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_other_district }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10005W</strong></span></p>
                                          <p class="label">Label: <strong> Ward where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_ward_where_this_interview_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10005S</strong></span></p>
                                          <p class="label">Label: <strong> Shehia where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_shehia_where_this_interview_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10005V</strong></span></p>
                                          <p class="label">Label: <strong> Village or street where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_village_street_where_this_interview_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10008</strong></span></p>
                                          <p class="label">Label: <strong> What is your/the respondent's relationship to the deceased?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_vrespondent_relationship_to_the_deceased }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10009</strong></span></p>
                                          <p class="label">Label: <strong> Did you/the respondent live with the deceased in the period leading to her/his death?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_respondent_live_with_the_deceased_in_the_period_leading_to_her_his_death }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10013</strong></span></p>
                                          <p class="label">Label: <strong> Did the respondent give consent?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_respondent_give_consent }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10017</strong></span></p>
                                          <p class="label">Label: <strong> What was the first or given name(s) of the deceased?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_the_first_or_given_name_of_the_deceased }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10018</strong></span></p>
                                          <p class="label">Label: <strong> What was the surname (or family name) of the deceased?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_the_surname_or_famil_name_of_the_deceased }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10019</strong></span></p>
                                          <p class="label">Label: <strong>  What was the sex of the deceased?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_sex_of_the_deceased }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10020</strong></span></p>
                                          <p class="label">Label: <strong>  Is the date of birth known?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_is_the_date_of_birth_known }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10021</strong></span></p>
                                          <p class="label">Label: <strong> When was the deceased born?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_when_was_the_deceased_born }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10022</strong></span></p>
                                          <p class="label">Label: <strong> Is the date of death known?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_is_the_date_of_death_known }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10023_a</strong></span></p>
                                          <p class="label">Label: <strong> When did (s)he die?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_when_did_she_or_he_die_a }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10023_b</strong></span></p>
                                          <p class="label">Label: <strong> When did (s)he die?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_when_did_she_or_he_die_b }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10023</strong></span></p>
                                          <p class="label">Label: <strong> When did (s)he die?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_when_did_she_or_he_die }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10024</strong></span></p>
                                          <p class="label">Label: <strong> Please indicate the year of death</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_please_indicate_the_year_of_death }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10058</strong></span></p>
                                          <p class="label">Label: <strong> Where did the deceased die? </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_where_did_the_deceased_die }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10058name</strong></span></p>
                                          <p class="label">Label: <strong> Name of the hospital or health facility where death occurred </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_name_of_the_hospital_or_health_facility_where_death_occurred }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10058Other</strong></span></p>
                                          <p class="label">Label: <strong> Specify</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_name_of_the_hospital_or_health_facility_where_death_occurred_other }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10058b</strong></span></p>
                                          <p class="label">Label: <strong> Was the deceased body taken to hospital or health facility for storage before burial </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_was_the_deceased_body_taken_to_hospital_or_health_facility_for_storage_before_burial }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10058c</strong></span></p>
                                          <p class="label">Label: <strong>  Which hospital or health facility was the body taken?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_which_hospital_or_health_facility_was_the_body_taken }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10487</strong></span></p>
                                          <p class="label">Label: <strong> In the two weeks before death, did (s)he live with, visit, or care for someone who had any COVID-19 symptoms or a positive COVID-19 test?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_in_the_two_weeks_before_death_did_she_or_he_live_with_visit_or_care_for_someone_who_had_any_COVID19_symptoms_or_a_positive_COVID19_test }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10488</strong></span></p>
                                          <p class="label">Label: <strong> In the two weeks before death, did (s)he travel to an area where COVID-19 is known to be present?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_in_the_two_weeks_before_death_did_she_or_he_travel_to_an_area_where_COVID19_is_known_to_be_present }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10488a</strong></span></p>
                                          <p class="label">Label: <strong> Write the name of the place(s) where the deceased visited in the last two weeks</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_write_the_name_of_the_places_where_the_deceased_visited_in_the_last_two_weeks }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10051</strong></span></p>
                                          <p class="label">Label: <strong> Is there a need to collect additional demographic data on the deceased?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_is_there_a_need_to_collect_additional_demographic_data_on_the_deceased }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10052</strong></span></p>
                                          <p class="label">Label: <strong> What was her/his citizenship/nationality? </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_citizenship_nationality }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10053</strong></span></p>
                                          <p class="label">Label: <strong> What was her/his ethnicity? </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_ethnicity }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10054D</strong></span></p>
                                          <p class="label">Label: <strong> District of birth </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_district_of_birth }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10054D_other</strong></span></p>
                                          <p class="label">Label: <strong> Other District </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_other_district }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10054S</strong></span></p>
                                          <p class="label">Label: <strong> Shehia where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_shehia_where_this_interview_is_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10054V</strong></span></p>
                                          <p class="label">Label: <strong>Village of birth</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_village_of_birth }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10055</strong></span></p>
                                          <p class="label">Label: <strong>What was her/his place of usual residence? (the place where the person lived most of the year)</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_place_of_usual_residence_the_place_where_the_person_lived_most_of_the_year }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057</strong></span></p>
                                          <p class="label">Label: <strong>Where did the death occur?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_where_did_the_death_occur }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057R</strong></span></p>
                                          <p class="label">Label: <strong>Region where death occurred</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_region_where_death_occurred }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057D</strong></span></p>
                                          <p class="label">Label: <strong>Disrtrict where death occurred</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_disrtrict_where_death_occurred }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057D_other</strong></span></p>
                                          <p class="label">Label: <strong> Other Disrtrict</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_other_district }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057S</strong></span></p>
                                          <p class="label">Label: <strong> Shehia where this interview is happening</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_shehia_where_this_interview_is_happening }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057V</strong></span></p>
                                          <p class="label">Label: <strong> Village</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_village }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10057_death_outside</strong></span></p>
                                          <p class="label">Label: <strong> If death occurred outside the country, please specify the place</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_if_death_occurred_outside_the_country_please_specify_the_place }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10059</strong></span></p>
                                          <p class="label">Label: <strong> What was her/his marital status?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_marital_status }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10060_check</strong></span></p>
                                          <p class="label">Label: <strong> Is the date of marriage available?  </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_is_the_date_of_marriage_available }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10060</strong></span></p>
                                          <p class="label">Label: <strong> What was the date of marriage?  </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_the_date_of_marriage }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10061</strong></span></p>
                                          <p class="label">Label: <strong> What was the name of the father? </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_the_name_of_the_father }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10062</strong></span></p>
                                          <p class="label">Label: <strong> What was the name of the mother? </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_the_name_of_the_mother }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10062</strong></span></p>
                                          <p class="label">Label: <strong> What was the name of the mother? </strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_the_name_of_the_mother }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10063</strong></span></p>
                                          <p class="label">Label: <strong> What was her/his highest level of schooling?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_highest_level_of_schooling }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10064</strong></span></p>
                                          <p class="label">Label: <strong> Was (s)he able to read and/or write?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_was_the_able_to_read_and_or_write }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10065</strong></span></p>
                                          <p class="label">Label: <strong> What was her/his economic activity status in year prior to death?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_economic_activity_status_in_year_prior_to_death }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10066</strong></span></p>
                                          <p class="label">Label: <strong> What was her/his occupation, that is, what kind of work did (s)he mainly do?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_what_was_her_his_occupation_that_is_what_kind_of_work_did_she_or_he_mainly_do }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10069</strong></span></p>
                                          <p class="label">Label: <strong> Is there a need to collect civil registration numbers on the deceased?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_is_there_a_need_to_collect_civil_registration_numbers_on_the_deceased_id10069 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10069_a</strong></span></p>
                                          <p class="label">Label: <strong> Do you have a Death Certificate from the Civil Registry?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_do_you_have_a_death_certificate_from_the_civil_registry_id10069_a }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10070</strong></span></p>
                                          <p class="label">Label: <strong> Death registration number/certificate</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_death_registration_number_or_certificate_id10070 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10071_check</strong></span></p>
                                          <p class="label">Label: <strong> Is the date of registration available?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_is_the_date_of_registration_available_id10071_check }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10071</strong></span></p>
                                          <p class="label">Label: <strong> Date of registration</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_date_of_registration_id10071 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10072</strong></span></p>
                                          <p class="label">Label: <strong> Place of registration</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_place_of_registration_id10072 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10073</strong></span></p>
                                          <p class="label">Label: <strong> National identification number of deceased</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_national_identification_number_of_deceased_id10073 }}</span></p>
                                        </div>
                                        <!-- community death -->

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>id10104</strong></span></p>
                                          <p class="label">Label: <strong> Did the baby ever cry?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_ever_cry_id10104 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10105</strong></span></p>
                                          <p class="label">Label: <strong> Did the baby cry immediately after birth, even if only a little bit?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_cry_immediately_after_birth_even_if_only_a_little_bit_id10105 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10106</strong></span></p>
                                          <p class="label">Label: <strong> How many minutes after birth did the baby first cry?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_how_many_minutes_after_birth_did_the_baby_first_cry_id10106 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10107</strong></span></p>
                                          <p class="label">Label: <strong> Did the baby stop being able to cry?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_stop_being_able_to_cry_id10107 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10108</strong></span></p>
                                          <p class="label">Label: <strong> How many hours before death did the baby stop crying?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_how_many_hours_before_death_did_the_baby_stop_crying_id10108 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10109</strong></span></p>
                                          <p class="label">Label: <strong>  Did the baby ever move?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_ever_move_id10109 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10110</strong></span></p>
                                          <p class="label">Label: <strong>  Did the baby ever breathe?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_ever_breathe_id101010 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10111</strong></span></p>
                                          <p class="label">Label: <strong>  Did the baby breathe immediately after birth, even a little?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_breathe_immediately_after_birth_even_a_little_id101011 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10112</strong></span></p>
                                          <p class="label">Label: <strong>  Did the baby have a breathing problem?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_did_the_baby_have_a_breathing_problem_id101012 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10113</strong></span></p>
                                          <p class="label">Label: <strong>  Was the baby given assistance to breathe at birth?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_was_the_baby_given_assistance_to_breathe_at_birth_id101013 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10114</strong></span></p>
                                          <p class="label">Label: <strong>  If the baby didn't show any sign of life, was it born dead?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_if_the_baby_did_not_show_any_sign_of_life_was_it_born_dead_id101014 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10115</strong></span></p>
                                          <p class="label">Label: <strong>  Were there any bruises or signs of injury on baby's body after the birth?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_were_there_any_bruises_or_signs_of_injury_on_babys_body_after_the_birth_id101015 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10116</strong></span></p>
                                          <p class="label">Label: <strong>  Was the babys body soft, pulpy and discoloured and the skin peeling away?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_was_the_babys_body_soft_pulpy_and_discoloured_and_the_skin_peeling_away_id101016 }}</span></p>
                                        </div>



                                         <!-- Medical history associated with final illness -->

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10125</strong></span></p>
                                          <p class="label">Label: <strong>  Was there any diagnosis by a health professional of tuberculosis?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_was_there_any_diagnosis_by_a_health_professional_of_tuberculosis_id10125 }}</span></p>
                                        </div>

                                        <div class="label_and_response">
                                          <p class="id_number">ID: <span><strong>Id10126</strong></span></p>
                                          <p class="label">Label: <strong>  Was an HIV test ever positive?</strong></p>
                                          <p class="response">Response: <span>{{ my_data.get_was_an_hiV_test_ever_positive_id10126 }}</span></p>
                                        </div>




                                      </div>

                                    </div>
                                  </div>

                                </div>
                              </div>

                              <div class="col-md-5">
                                <div class="content">
                                  <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                      <h5 class="card-title">** Summary **</h5>

                                      <p class="card-text"><strong>VA ID: </strong> {{ my_data.deviceid }}</p>
                                      <p class="card-text"><strong>VA Type: </strong> {{ my_data.va_type }}</p>
                                      <p class="card-text"><strong>D2 Serial No: </strong>{{ my_data.get_serial_number }}</p>
                                      <p class="card-text"><strong>Interviewer Name: </strong>{{ my_data.get_interviwer_name }}</p>
                                      <p class="card-text"><strong>Interviewer Age: </strong>{{ my_data.get_interviwer_age }}</p>
                                      <p class="card-text"><strong>Interviewer Sex: </strong>{{ my_data.get_interviwer_sex }}</p>
                                      <p class="card-text"><strong>Interviewer Phone: </strong>{{ my_data.get_interviwer_phone }}</p>
                                      <p class="card-text"><strong>Interviewer ID: </strong>{{ my_data.get_interviwer_national_id }}</p>
                                      <p class="card-text"><strong>Respondent Name: </strong>{{ my_data.get_respondent_name|title }}</p>
                                      <p class="card-text"><strong>Respondent Sex: </strong>{{ my_data.get_respondent_sex|title }}</p>
                                      <p class="card-text"><strong>Respondent Phone: </strong>{{ my_data.get_respondent_phone }}</p>
                                      <p class="card-text"><strong>Interview Date: </strong>{{ my_data.get_interview_date }}</p>
                                      <p class="card-text"><strong>Interview Start: </strong>{{ my_data.get_start_time }}</p>
                                      <p class="card-text"><strong>Interview End: </strong>{{ my_data.get_end_time }}</p>
                                      <p class="card-text"><strong>Interview Time: </strong></p>
                                      <!-- <p class="card-text"><strong>GPS Latitude: </strong></p>
                                      <p class="card-text"><strong>GPS Longitude: </strong></p>
                                      <p class="card-text"><strong>GPS Accuracy: </strong></p> -->
                                      <p class="card-text"><strong>Narattive: </strong> {{ my_data.get_death_narrative }}</p>
                                      <div class="button_map">
                                        <a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#mapModalView{{ my_data.get_serial_number }}-{{ my_data.get_serial_number }}"><i class="bi bi-geo-alt-fill"></i> View on map</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>


                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>



                  <!-- Map Modal -->
                  <div class="modal fade" id="mapModalView{{ my_data.get_serial_number }}-{{ my_data.get_serial_number }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mapModalViewLabel{{ my_data.deviceid }}-{{ my_data.deviceid }}" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="mapModalViewLabel{{ my_data.get_serial_number }}-{{ my_data.get_serial_number }}">VA ID: <code>{{ my_data.deviceid }}</code></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          This modal for Map only.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>


                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block datatable %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/af-2.4.0/cr-1.5.6/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#va_records').DataTable({
      dom: 'B<"clear">lfrtip',
      button: {
        name: 'primary',
        // button: ['copy', 'csv', 'excel', 'pdf'],
        button: ['excel', 'pdf']
      }
    });
  });
</script>
{% endblock %}
